In [1]:
import pandas as pd

In [52]:
data1 = pd.read_excel("merge1.xlsx")
print(data1)

       EEID        Full Name                 Job Title
0    E02387      Emily Davis                Sr. Manger
1    E04108    Theodore Dinh       Technical Architect
2    E02575     Luna Sanders                  Director
3    E02832  Penelope Jordan  Computer Systems Manager
4    E01639        Austin Vo               Sr. Analyst
..      ...              ...                       ...
995  E03099     Wesley Young               Sr. Analyst
996  E01909     Lillian Khan                   Analyst
997  E04398      Oliver Yang                  Director
998  E02521      Lily Nguyen               Sr. Analyst
999  E03545      Sofia Cheng            Vice President

[1000 rows x 3 columns]

In [53]:
data2 = pd.read_excel("merge2.xlsx")
print(data2)

       EEID  Annual Salary        Country
0    E02388          72045  United States
1    E04105          99975          China
2    E02572         163099  United States
3    E02831          84913  United States
4    E01639          95409  United States
..      ...            ...            ...
995  E03094          98427  United States
996  E01909          47387          China
997  E04395         176710  United States
998  E02521          95960          China
999  E03542         216195  United States

[1000 rows x 3 columns]

In [54]:
print(pd.merge(data1, data2, on = "EEID"))

        EEID          Full Name               Job Title  Annual Salary  \
0     E04108      Theodore Dinh     Technical Architect          88343
1     E01639          Austin Vo             Sr. Analyst          95409
2     E01639          Austin Vo             Sr. Analyst          48266
3     E00644       Joshua Gupta  Account Representative          50994
4     E01550        Ruby Barnes                 Manager         119746
...      ...                ...                     ...            ...
1179  E03058      Robert Wright     Technical Architect          67489
1180  E04762  Audrey Richardson                Director         166259
1181  E01148     Scarlett Kumar         Systems Analyst          47032
1182  E01909       Lillian Khan                 Analyst          47387
1183  E02521        Lily Nguyen             Sr. Analyst          95960

            Country
0            Brazil
1     United States
2     United States
3             China
4     United States
...             ...
1179  United States
1180  United States
1181  United States
1182          China
1183          China

[1184 rows x 5 columns]

In [55]:
print(pd.merge(left = data1, right = data2, on = "EEID", how = "left"))

        EEID        Full Name                 Job Title  Annual Salary  \
0     E02387      Emily Davis                Sr. Manger            NaN
1     E04108    Theodore Dinh       Technical Architect        88343.0
2     E02575     Luna Sanders                  Director            NaN
3     E02832  Penelope Jordan  Computer Systems Manager            NaN
4     E01639        Austin Vo               Sr. Analyst        95409.0
...      ...              ...                       ...            ...
1185  E03099     Wesley Young               Sr. Analyst            NaN
1186  E01909     Lillian Khan                   Analyst        47387.0
1187  E04398      Oliver Yang                  Director            NaN
1188  E02521      Lily Nguyen               Sr. Analyst        95960.0
1189  E03545      Sofia Cheng            Vice President            NaN

            Country
0               NaN
1            Brazil
2               NaN
3               NaN
4     United States
...             ...
1185            NaN
1186          China
1187            NaN
1188          China
1189            NaN

[1190 rows x 5 columns]

In [50]:
print(pd.merge(left = data1, right = data2, on = "EEID", how = "right"))

        EEID     Full Name    Job Title  Annual Salary        Country
0     E02388           NaN          NaN          72045  United States
1     E04105           NaN          NaN          99975          China
2     E02572           NaN          NaN         163099  United States
3     E02831           NaN          NaN          84913  United States
4     E01639     Austin Vo  Sr. Analyst          95409  United States
...      ...           ...          ...            ...            ...
1186  E03094           NaN          NaN          98427  United States
1187  E01909  Lillian Khan      Analyst          47387          China
1188  E04395           NaN          NaN         176710  United States
1189  E02521   Lily Nguyen  Sr. Analyst          95960          China
1190  E03542           NaN          NaN         216195  United States

[1191 rows x 5 columns]