In [1]:
import pandas as pd

In [25]:
data = pd.read_excel("compare datafram.xlsx").head(5)
print(data)

         Full Name Department  Annual Salary
0      Emily Davis         IT         141604
1    Theodore Dinh         IT          99975
2     Luna Sanders    Finance         163099
3  Penelope Jordan         IT          84913
4        Austin Vo    Finance          95409

In [26]:
pivoted_data = data.pivot_table(values="Annual Salary", index="Department", columns="Full Name", aggfunc="sum")
print(pivoted_data)

Full Name   Austin Vo  Emily Davis  Luna Sanders  Penelope Jordan  \
Department
Finance       95409.0          NaN      163099.0              NaN
IT                NaN     141604.0           NaN          84913.0

Full Name   Theodore Dinh
Department
Finance               NaN
IT                99975.0

In [38]:
print(data)

         Full Name Department  Annual Salary
0      Emily Davis         IT         141604
1    Theodore Dinh         IT          99975
2     Luna Sanders    Finance         163099
3  Penelope Jordan         IT          84913
4        Austin Vo    Finance          95409

In [35]:
print(pd.melt(data, id_vars=["Full Name"], value_vars=["Department"]))

         Full Name    variable    value
0      Emily Davis  Department       IT
1    Theodore Dinh  Department       IT
2     Luna Sanders  Department  Finance
3  Penelope Jordan  Department       IT
4        Austin Vo  Department  Finance

In [33]:
print(pd.melt(data, id_vars=["Full Name"], value_vars=["Department", "Annual Salary"], var_name="Department&Salary"))

         Full Name Department&Salary    value
0      Emily Davis        Department       IT
1    Theodore Dinh        Department       IT
2     Luna Sanders        Department  Finance
3  Penelope Jordan        Department       IT
4        Austin Vo        Department  Finance
5      Emily Davis     Annual Salary   141604
6    Theodore Dinh     Annual Salary    99975
7     Luna Sanders     Annual Salary   163099
8  Penelope Jordan     Annual Salary    84913
9        Austin Vo     Annual Salary    95409