In [2]:
import pandas as pd

                                                                        Series

A Pandas Series is like a column in a table.
It is a one-dimensional array holding data of any type.

In [3]:
x = [1, 7, 2]
y = pd.Series(x)
print(y)

0    1
1    7
2    2
dtype: int64

Create Labels

If nothing else is specified, the values are labeled with their index number. First value has index 0,
second value has index 1 etc. This label can be used to access a specified value.

In [4]:
x = [1, 7, 2]
y = pd.Series(x, index=['x','y','z'])
print(y)

x    1
y    7
z    2
dtype: int64

Key/Value Objects as Series

Second code: Simple dictionary. Each key has one value. Suited for creating a Series (single column).
index=["day2"]: Selects data during Series creation
iloc[2]: Selects by integer position after Series creation
loc["day3"]: Selects by label (key) after Series creation

In [20]:
j1 = {"day1": 420, "day2": 380, "day3": 390}
myvar1 = pd.Series(j1, index = ["day2"]) #not use like a array
myvar2 = pd.Series(j1).iloc[2] #not use like a key
myvar3 = pd.Series(j1).loc["day3"] #loc is used for label-based indexing
print(myvar1)
print(myvar2)
print(myvar3)

day2    380
dtype: int64
390
390

                                                                   DataFrames

DataFrames
Here, a dictionary called mydataset is created. It has two keys: 'cars' and 'passings'.The 'cars' key has a
list of car brands as its value, and the 'passings' key has a list of numbers as its value.

DataFrame() is like a table creator. It takes your data
(in this case, mydataset) and organizes it into rows and columns,
A DataFrame is a two-dimensional labeled data structure in pandas, similar table.


First code: Dictionary of lists. Each key has multiple values.
Suited for creating a DataFrame (multiple columns).

In [6]:
mydataset = { 'cars': ["jia", "meet", "meera"], 'passings': [19, 22, 17], 'new': [23, 56, 77] }
myvar = pd.DataFrame(mydataset)
print(myvar)

    cars  passings  new
0    jia        19   23
1   meet        22   56
2  meera        17   77

Locate Row

In [18]:
data = {"calories": [420, 380, 390], "duration": [50, 40, 45]}
df = pd.DataFrame(data).iloc[2]
print(df)
print(df["calories"])

calories    390
duration     45
Name: 2, dtype: int64
390

In [8]:
data = {"calories": [420, 380, 390], "duration": [50, 40, 45]}
df = pd.DataFrame(data)
print(df.loc[1])
print(df.loc[[1]])
print(df.loc[[1, 2]])

calories    380
duration     40
Name: 1, dtype: int64
   calories  duration
1       380        40
   calories  duration
1       380        40
2       390        45

In [9]:
data = {"calories": [420, 380, 390], "duration": [50, 40, 45]}
df = pd.DataFrame(data, index=["day1", "day2", "day3"])
print(df.loc[["day2"]])

      calories  duration
day2       380        40

In [30]:
data = {"Even" : [2,4,6,8], "Odd" : [1,3,5,7]}
df = pd.DataFrame(data, index=["DAY0", "DAY1", "DAY2", "DAY3"])
print(df["Even"])

DAY0    2
DAY1    4
DAY2    6
DAY3    8
Name: Even, dtype: int64

In [32]:
data = pd.read_csv("E:/Download/Datasets-main/Datasets-main/company.csv")
print(data)

   Unnamed: 0      Name gender  salary
0           0    ayushi      F   20000
1           1     rohit      M   25000
2           2  pranjali      F   27000